{% extends "layout.html" %}
{% block title %}{{ chain[0] }}{% endblock %}

{% block content %}

<div id="header">
    <h2>{{ chain[0] }}</h2>
    {% if chain[2] == session.user_id %}
    <button onclick="modifyHeader()">Muokkaa</button>
    <form action="/remove-chain" method="post">
        <input type="submit" value="Poista" onclick="return confirm('Haluatko varmasti poistaa keskusteluketjun?')">
        <input type="hidden" name="id" value="{{ id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <br>
    {% endif %}
</div>
<ul class="list-group">
    {% for message in messages %}
    <li class="list-group-item">
        <div id="message{{ message[0] }}">
            <p>
            <span class="creator">{{ message[4] }}</span>
            <br>
            <span class="message">{{ message[1] }}</span>
            {% if message[2] == session.user_id %}
            <button class="modify" onclick="modifyMessage('{{ message[0] }}')">Muokkaa</button>
            {% endif %}
            <br>
            <span class="sentAt">{{ message[3].strftime("%Y-%m-%d %H:%M:%S") }}</span>
            {% if message[2] == session.user_id %}
            <form class="remove" action="/remove-message" method="post">
                <input type="submit" value="Poista" onclick="return confirm('Haluatko varmasti poistaa viestin?')">
                <input type="hidden" name="id" value="{{ message[0] }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>

{% if session.user_id %}
<p>
<form action="/create-message" method="post">
    Uusi viesti:<br>
    <textarea name="message" rows="3" cols="50" minlength="1" maxlength="5000" required></textarea>
    <br>
    <input type="submit" value="Lähetä viesti">
    <input type="hidden" name="chain_id" value="{{ id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}

<br>
<br>
<p>
<a href="/area/{{ chain[1] }}"><button>Palaa takaisin</button></a>

<script>
    function modifyHeader() {
        var header = document.getElementById("header");
        header.innerHTML = "";
        var forms = `
            <form action="/modify-chain-header" method="post">
                <input type="text" name="header" value="{{ chain[0] }}" minlength="3" maxlength="50" required>
                <input type="submit" value="Tallenna">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="id" value="{{ id }}">
            </form>
            <form action="/chain/{{ id }}">
                <input type="submit" value="Peruuta">
            </form>
        `;
        header.innerHTML = forms;
    }

    function modifyMessage(id) {
        message = document.getElementById(`message${id}`);
        creator = message.querySelector('.creator').innerHTML;
        content = message.querySelector('.message').innerHTML;
        sentAt = message.querySelector('.sentAt').innerHTML;

        var newContent = `
            <p>
            <form action="/modify-message" method="post">
                ${creator}
                <br>
                <textarea name="message" rows="3" cols="50" minlength="1" maxlength="5000" required>${content}</textarea>
                <br>
                ${sentAt}
                <input type="submit" value="Tallenna">
                <input type="hidden" name="id" value="${id}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
            <form action="/chain/{{ id }}">
                <input type="submit" value="Peruuta">
            </form>
        `;

        message.innerHTML = newContent;
    }
</script>

{% endblock %}