{% extends "layout.html" %}
{% block title %}{{ chain[0] }}{% endblock %}

{% block content %}

<h2>{{ chain[0] }}</h2>

{% for message in messages %}
<p>
{{ message[4] }}
<br>
{{ message[1] }}
<br>
{{ message[3].strftime("%Y-%m-%d %H:%M:%S") }}
{% endfor %}
<p>
<form action="/create-message" method="post">
    Uusi viesti:<br>
    <textarea name="message" rows="3" cols="50" minlength="1" maxlength="5000"></textarea>
    <br>
    <input type="submit" value="Lähetä viesti">
    <input type="hidden" name="chain_id" value="{{ id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<br>
<br>
<p>
<a href="/area/{{ chain[1] }}">Palaa takaisin</a>

{% endblock %}