{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<h2>Etusivu</h2>

{% if session.user_admin == True %}
<a href="/create-area"><button>Luo keskustelualue</button></a>
<br>
<br>
{% endif %}

<ul class="list-group">
    {% for area in areas %}
    <li class="list-group-item">
        <a href="/area/{{ area.id }}">{{ area.topic }}</a>
        <br>
        Ketjujen määrä: {{ area[2] }}
        <br>
        Viestien määrä: {{ area[3] }}
        {% if area[4] %}
        <br>
        Viimeisimmän viestin lähetysaika: {{ area[4].strftime("%Y-%m-%d %H:%M:%S") }}
        {% endif %}
        <br>
    </li>
    {% endfor %}
</ul>

{% endblock %}