{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<h2>Etusivu</h2>

{% if session.user_admin == True %}
Lisää keskustelualue:
<br>
<form action="/create-area" method="post">
    Aihe: <br><input type="text" name="topic" minlength="3" maxlength="50">
    <br>
    Salainen:
    <input type="radio" name="secret" value="0"> Ei
    <input type="radio" name="secret" value="1"> Kyllä
    <br>
    <input type="submit" value="Lisää">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
{% endif %}

{% for area in areas %}
<a href="/area/{{ area.id }}">{{ area.topic }}</a>
<br>
Ketjujen määrä: {{ area[2] }}
<br>
Viestien määrä: {{ area[3] }}
{% if area[4] %}
<br>
Viimeisimmän viestin lähetysaika: {{ area[4].strftime("%Y-%m-%d %H:%M:%S") }}
{% endif %}
<br>
<br>
{% endfor %}

{% endblock %}