<!doctype html>
<title>Keskustelusovellus - Kirjautuminen</title>
<h1>Keskustelusovellus</h1>
<a href="/">Etusivu</a>
<hr>
<h2>Kirjautuminen</h2>
<form action="/login" method="post">
    Käyttäjätunnus: <br><input type="text" name="username" minlength="3" maxlength="20">
    <p>
    Salasana: <br><input type="password" name="password" minlength="5" maxlength="100">
    <p>
    <input type="submit" value="Kirjaudu">
</form>
<a href="/register">Luo tunnus</a>
<p>
<a href="/">Palaa takaisin</a>