{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block content %}

<h2>Kirjautuminen</h2>
<form action="/login" method="post">
    Käyttäjätunnus: <br><input type="text" name="username" minlength="3" maxlength="20" required>
    <p>
    Salasana: <br><input type="password" name="password" minlength="5" maxlength="100" required>
    <p>
    <input type="submit" value="Kirjaudu">
</form>
<a href="/register">Luo tunnus</a>
<p>
<a href="/"><button>Palaa takaisin</button></a>

{% endblock %}