<!doctype html>
<title>Keskustelusovellus - Rekisteröinti</title>
<h1>Keskustelusovellus</h1>
<a href="/">Etusivu</a>
<hr>
<h2>Rekisteröinti</h2>
<form action="/register" method="post">
    Käyttäjätunnus: <br><input type="text" name="username" minlength="3" maxlength="20">
    <p>
    Salasana: <br><input type="password" name="password1" minlength="5" maxlength="100">
    <p>
    Salasana uudestaan: <br><input type="password" name="password2" minlength="5" maxlength="100">
    <p>
    <input type="submit" value="Luo tunnus">
</form>

<p>
<a href="/login">Palaa takaisin</a>